.hidden {
    display:none;
}

#dateselect, removelayers, checkboxes {
    margin-right: 30px;
    margin-left: 15px;
    margin-top: auto;
}

.select2 {
    margin-top: 11px;
}

.checks {
    margin-top: 11px;
}