.hidden {
    display:none;
}

#removelayers {
    margin-right: 10px;
    margin-left: 10px;
}

#regionselect, #dateselect {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: auto;
}

.select2 {
    margin-top: 11px;
    width: 110px !important;
}

.checks {
    margin-top: 11px;
}
