.hidden {
    display:none;
}

#dateselect, removelayers, checkboxes {
    margin-right: 30px;
    margin-left: 15px;
    margin-top: auto;
}

#timeselect, #regionselect {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: auto;
}

.select2 {
    margin-top: 11px;
    width: 110px !important;
}

.checks {
    margin-top: 11px;
}
